<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Document</title>
</head>
<body>
    {{>navbar}}

   <div class="cards">
     <div class="card">
        <div class="pic">
            <img src="https://thicc-uwu.mywaifulist.moe/waifus/satoru-gojo-sorcery-fight/bOnNB0cwHheCCRGzjHLSolqabo41HxX9Wv33kfW7.jpg?class=thumbnail" alt="">
        </div>
        <div class="info">
            <ul>
                <li><b>NAME: </b>Satoru Gojo</li>
                <li><b>Speciality: </b>Phd in Ariticial Intelligence</li>
                <li><b>Passout: </b>IIT Bombay</li>
            </ul>

            <ul class="connect">
                <li><a href="https://www.google.com" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" alt="" width="30px" height="30px"></a></li>
                <li><a href="https://www.x.com" target="_blank"><img src="https://mailmeteor.com/logos/assets/PNG/Gmail_Logo_512px.png" alt="" width="40px" height="30px"></a></li>
            </ul>
        </div>
    </div>
     <div class="card">
        <div class="pic">
            <img src="https://www.sideshow.com/wp/wp-content/uploads/2022/01/Kyojuro-Rengoku-flame-hashira.jpeg" alt="">
        </div>
        <div class="info">
            <ul>
                <li><b>NAME: </b>Kyojuro Rengoku</li>
                <li><b>Speciality: </b>Algorithm Designing</li>
                <li><b>Passout: </b>IIIT Bhubaneshwar</li>
            </ul>

            <ul class="connect">
                <li><a href="https://www.google.com" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" alt="" width="30px" height="30px"></a></li>
                <li><a href="https://www.x.com" target="_blank"><img src="https://mailmeteor.com/logos/assets/PNG/Gmail_Logo_512px.png" alt="" width="40px" height="30px"></a></li>
            </ul>
        </div>
    </div>
   </div>
   <div class="cards">
     <div class="card">
        <div class="pic">
            <img src="https://qph.cf2.quoracdn.net/main-qimg-dd3027986885becc2ff5c434bd24c053" alt="">
        </div>
        <div class="info">
            <ul>
                <li><b>NAME: </b>Himejima Gyomei</li>
                <li><b>Speciality: </b>Expertise on Systems and Linux</li>
                <li><b>Passout: </b>IIT Kharagpur</li>
            </ul>

            <ul class="connect">
                <li><a href="https://www.google.com" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" alt="" width="30px" height="30px"></a></li>
                <li><a href="https://www.x.com" target="_blank"><img src="https://mailmeteor.com/logos/assets/PNG/Gmail_Logo_512px.png" alt="" width="40px" height="30px"></a></li>
            </ul>
        </div>
    </div>
     <div class="card">
        <div class="pic">
            <img src="https://i1.sndcdn.com/artworks-000191049982-zfp2hc-t500x500.jpg" alt="">
        </div>
        <div class="info">
            <ul>
                <li><b>NAME: </b>Hanges Zoe</li>
                <li><b>Speciality: </b>Digital Logics</li>
                <li><b>Passout: </b>IIT Kanpur</li>
            </ul>

            <ul class="connect">
                <li><a href="https://www.google.com" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" alt="" width="30px" height="30px"></a></li>
                <li><a href="https://www.x.com" target="_blank"><img src="https://mailmeteor.com/logos/assets/PNG/Gmail_Logo_512px.png" alt="" width="40px" height="30px"></a></li>
            </ul>
        </div>
    </div>
   </div>
   <div class="cards">
     <div class="card">
        <div class="pic">
            <img src="https://w0.peakpx.com/wallpaper/894/9/HD-wallpaper-shinobu-kocho-anime-girl-demon-slayer-shinobu-kocho.jpg" alt="">
        </div>
        <div class="info">
            <ul>
                <li><b>NAME: </b>Shinobu Kocho</li>
                <li><b>Speciality: </b>Enviromental Chemistry</li>
                <li><b>Passout: </b>IIT Nagpur</li>
            </ul>

            <ul class="connect">
                <li><a href="https://www.google.com" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" alt="" width="30px" height="30px"></a></li>
                <li><a href="https://www.x.com" target="_blank"><img src="https://mailmeteor.com/logos/assets/PNG/Gmail_Logo_512px.png" alt="" width="40px" height="30px"></a></li>
            </ul>
        </div>
    </div>
     <div class="card">
        <div class="pic">
            <img src="https://i.pinimg.com/736x/15/a0/70/15a07016ead68e63d07420773c22d269.jpg" alt="">
        </div>
        <div class="info">
            <ul>
                <li><b>NAME: </b>Iguro Obonai</li>
                <li><b>Speciality: </b>Calculus</li>
                <li><b>Passout: </b>NIT Rourkela</li>
            </ul>

            <ul class="connect">
                <li><a href="https://www.google.com" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" alt="" width="30px" height="30px"></a></li>
                <li><a href="https://www.x.com" target="_blank"><img src="https://mailmeteor.com/logos/assets/PNG/Gmail_Logo_512px.png" alt="" width="40px" height="30px"></a></li>
            </ul>
        </div>
    </div>
   </div>

        <hr>
   {{>footer}}
    <script src="/logic/index.js"></script>
</body>
</html>