<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    <hr>
    <div class="loginError">
    <u><h1>Login Error</h1></u>
    <h2>Oops.. your credentials didn't match!!</h2>
    <h3><a href="/login">Please try again</a></h3>
</div>
 <script src="/logic/index.js"></script>
</body>
</html>