<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    <hr>
    <div class="profile">
        <div class="user_pic"><img src="https://i.pinimg.com/736x/bb/62/1a/bb621af73493c988e97278e4ee8fae1c.jpg" alt=""></div>
        <div class="user_details">
            <h3>Welcome to Sectopedia</h3>
            <button><a href="/logout">Logout</a></button>
        </div>
    </div>
     <script src="/logic/index.js"></script>
     <script>

     </script>
</body>
</html>