 <div class="footer">
        &#169; ~By: <b>SMARAN SATAPATHY</b>
        <ul class="connect_dev">
                <li><a href="https://www.linkedin.com/in/smaran-satapathy-388270257/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" alt="" width="20px" height="20px"></a></li>
                <li><a href="mailto:smaransatapathy31@gmail.com" target="_blank"><img src="https://mailmeteor.com/logos/assets/PNG/Gmail_Logo_512px.png" alt="" width="30px" height="20px"></a></li>
                <li><a href="https://github.com/SmaranSatapathy" target="_blank" ><img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="" width="40px" height="40px" class="git"></a></li>
            </ul>
     </div>